<nav class="nav">
    <div class="container-fluid">
        <ul class="nav-brand">
            <a class="nav-logo">
            </a>
        </ul>
        <div class="nav-burger" onclick="navToggle(this)">
          <span></span>
          <span></span>
          <span></span>
        </div>

      <ul class="nav-menu">
        <ul class="nav-start level1">
          <li class="nav-item level1">
              <a href="/customers">จัดการลูกค้า</a>
            </li>
          <li class="nav-item level1">
              <a href="/products">จัดการสินค้า</a>
            </li>
          
        </ul>
      </ul>
    </div>
</nav>