<nav class="nav">
    <div class="container-fluid">
        <ul class="nav-brand">
            <a class="nav-logo">
            </a>
            <li class="nav-item level1">
                <a class="button">
                    <span>Test</span>
                </a>
            </li>
        </ul>
        <div class="nav-burger" onclick="navToggle(this)">
          <span></span>
          <span></span>
          <span></span>
        </div>

      <ul class="nav-menu">
        <ul class="nav-start level1">
          <li class="nav-item level1"><a>
            Home
              </a></li>
          <li class="nav-item level1 dropdown hoverable">
            <a class="nav-item level1">
              Docs
            </a>
            <ul class="nav-dropdown level2 boxed">
              <li class="nav-item level2"><a>
                Overview
                  </a></li>
              <li class="nav-item level2"><a>
                  Modifiers
              </a></li>
              <li class="nav-item level2"><a>
                Columns
                  </a></li>
              <li class="nav-item level2"><a>
                Layout
                  </a></li>
              <li class="nav-item level2"><a>
                Form
                  </a></li>
              <hr class="nav-divider">
              <li class="nav-item level2"><a>
                Elements
                  </a></li>
              <li class="nav-item level2 active" ><a>
                Components
                  </a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav-end level1">
            <li class="nav-item level1">
                <a class="button">
                    <span>Tweet</span>
                </a>
            </li>
            <li class="nav-item level1">
                <a class="button primary">
                  <span>Download</span>
                </a>
            </li>
        </ul>
      </ul>
    </div>
</nav>