<nav class="nav">
    <div class="container-fluid">
        <div class="nav-burger" onclick="navToggle(this)">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="nav-menu">
            <ul class="nav-start level1">
                <li class="nav-item level1">
                    <a href="/customers">ลูกค้า</a>
                </li>
                <li class="nav-item level1">
                    <a href="/products">สินค้า</a>
                </li>
                <li class="nav-item level1">
                    <a href="/deliveries">ลำดับขนส่ง</a>
                </li>
                <li class="nav-item level1">
                    <a href="/routes">จัดเส้นทาง</a>
                </li>
                <li class="nav-item level1">
                    <a href="/trucks">รถบรรทุก</a>
                </li>
            </ul>
        </ul>
    </div>
</nav>